*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-bar{
  display: flex;
  width:80%;
  margin: 0 auto;
  max-width: 1000px;
  

}

/* HEADER */

.top-bar-fix{
  z-index: 999;
  position: fixed;
  text-align: center;
  background-color: #FF6900;
  box-shadow: 0 0 10px 0 gray;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
}

#container-header{
  justify-content: space-between;
  height: 100%;
  align-items: center;
 
}

/* MENU */

.menu ul{
  align-items: center;
}

.menu ul li{
  list-style: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  cursor: pointer; 
  padding-left: 10px; 
}

/* LOGO */

#boolando-logo{
  width: 100px;
}

.menu ul li:hover{
  text-decoration: underline;
}

/* MAIN */

.container-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  margin: 60px auto;
  padding-top: 40px;
  width: 80%;
  max-width: 1000px;
}

.product{
  position: relative;
  padding: 30px 0 50 0;
}

.product img{
  width: 300px;
  margin: 8px;
}

.product-2{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.product:hover .product-2{
  opacity: 1;
} 

/* TEXT PREZZO E MARCA */

.text-foto{
  padding-left: 8px;
  margin-bottom: 40px;
}

.marca{
  font-size: 15px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.616);
  
}

.product h6{
  font-weight: bold;
  font-size: 20px;
 
}

.prezzo-saldi{
  color: red;
  font-size: 15px;
  font-weight: lighter;
  
}

.prezzo{
  text-decoration: line-through;
  font-size: 15px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.616);
}

/* BOX PREZZO */

.saldi{
  position: absolute;
  top: 370px;
  z-index: 10;
  left: 8px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 5px 8px;
}

.sostenibilità{
  position: absolute;
  top: 370px;
  z-index: 10;
  left: 48px;
  background-color: #007E00;
  color: white;
  font-size: 10px;
  padding: 5px 8px;
}

.heart{
  position: absolute;
  z-index: 90;
  top: 20px;
  right: 9px;
  background-color: white;
  padding: 10px 10px;
}

 .heart:hover {
  color: red;
}

/* FOOTER */

.section-footer{
  background-color: #1A1A1A;
  height: 90px;
}

.container-footer{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  width: 80%;
  max-width: 1000px;
}

.text-footer{
  top: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.container-footer ul li{
  display: inline-block;
  padding-right: 10px;
  font-size: 12px;
  color: white;

  

}